127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.1.44    ansi
192.168.1.76    control.{{service_dns_domain}}       control
192.168.1.169   worker1.{{service_dns_domain}}       worker1
192.168.1.170   worker2.{{service_dns_domain}}       worker2
192.168.1.171	worker3.{{service_dns_domain}}	     worker3
34.31.12.100    ubuntu.lab      ubuntu
35.222.126.207  ubuntu24.lab    ubuntu24

